[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/Vundle.vim"]
	path = vim/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	branch = master
